<div id = 'home' ng-app='powerIce.home'>
<div ng-controller = "HomeController as power">
<div ng-repeat="toot in power.toots | orderBy:'-likes'">
  <h3>
    {{toot.likes+ " power points! "}}<a href ={{toot.url}}>{{toot.title}}</a> {{" by " + toot.name }}
    <button class="btn" ng-click="power.like(toot.index)">LIKE</button>
  </h3>
</div>
 <!-- <div id = 'testing'><button class="btn" ng-click="power.createTodo()">WANT TO CHAAANGE!</div> -->
  <!-- <div ng-repeat="do in todos" >{{do.likes+ " power points! "}}<a href ={{do.url}}>{{do.title}}</a> {{" by " + do.name }}</div>   -->
</div>
</div>
